

/* override h1 settings from Bootstrap and legend styling for contact form */

h1, legend {
    font-size: 22pt !important;
    font-family: "gimlet-sans-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 400, "opsz" 10;
}

.resume-list {
    line-height: 1.3;
}

li {
    margin-top: 8px;
}


.work-description > a{
    text-decoration: underline;
    color: inherit;
}

/* Class that formats any descriptions of work throughout the site */
.work-description {
    width: 50%;
    margin-bottom: 4vh;
    display: block;
    font-family: "area-normal", sans-serif;
    font-weight: 300;
    font-size: 11pt;
    color: black;
}

.resume {
    font-family: "area-normal", sans-serif;
    font-weight: 300;
    font-size: 11pt;
    color: black;
    line-height: 0.5;
}



.work-image:hover {
    cursor: zoom-in;
}

.work-image {
    border-radius: 10px;
}

.grid-row {
    margin-right: 2vw;
    display: grid;
    gap: 2vw;
    margin-bottom: 2vw;
}

.grid-row > img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

#home-container {
    margin-top: 250px;
}

/* modal that pops up when an image is clicked */
.image-display {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.image-display img {
    max-height: 80vh;
    max-width: 90vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

/* button to close out of modal */
.close {
    font-family: "gimlet-sans-variable", sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 3vh;
    right: 3vw;
    transition: color 0.3s ease-in-out;
}

.close:hover {
    cursor: pointer;
    color: #d4dea6;
}

#about-text {
    width: 100%;
    margin-bottom: 4vh;
    margin-right: 3vw;
    display: block;
    font-family: "area-normal", sans-serif;
    font-weight: 300;
    font-size: 10pt;
}

input, textarea {
    font-family: "area-normal", sans-serif;
    width: 100%;
    margin-bottom: 2vh;
    border-width: 1px;
    border-radius: 2px;
}

input:focus, textarea:focus {
    border-style: solid;
    outline: 1px solid #d4dea6;
    border-color: #d4dea6;
    border-radius: 6px;
    border-width: 1px;
    box-sizing: border-box;
}

label {
    font-family: "area-normal", sans-serif;
    font-size: 10pt;
    margin-top: 10px;
    margin-bottom: 3px;
}

fieldset {
    width: 90%;
    border-width: 0;
    margin: 0;
    margin-top: 2vh;
    padding: 0;
}

#submit {
    width: 20vw;
    border-radius: 10px;
    border-width: 0;
    padding: 4px;
    transition: background-color 0.3s ease;
    background-color:rgb(235, 235, 235);
    color: black;
    margin-top: 10px;
}

#submit:hover {
    background-color: #d4dea6;
    cursor: pointer;
}





/* Mobile breakpoint */
@media only screen and (max-width: 768px) {
    .about {
        flex-direction: column-reverse;
    }

    #page-container {
        grid-template-columns: auto;
    }

    .work-description {
        width: 98%;
        margin-left: 0;
        font-size: 12pt;
    }
}