h1 {
    font-family: "gimlet-sans-variable", sans-serif;
}

#nav-container {
    font-size: 10px;
    margin-left: 40vw;
}

.header-container {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.nav-link {
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    transition: color 0.5s ease-in-out;
    color: black;
    margin-right: 4vw;
}

.nav-link:hover {
    color: red;
}

a {
    text-decoration: none;
    color: inherit;
}

.thumbnail-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: auto auto auto;
}

.thumbnail-container img {
    height: 23vw;
    width: 95%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    object-fit: cover;
    opacity: 100%;
    transition: opacity 0.2s ease-in-out;
}

.thumbnail-container img:hover {
    opacity: 50%;
}

.work-container {
    margin-top: 5vh;
    width: 100%;
}

.work-description {
    width: 25vw;
    margin-top: 10vh;
    display: block;
    font-family: "area-normal", sans-serif;
    font-weight: 300;
    font-size: 10pt;
}

.work-container img {
    height: 50vw;
    width: 100%;
    object-fit: cover;
    margin-top: 4vh;
}

#home-container {
    margin-left: 4vw;
    margin-right: 4vw;
}

#page-container {
    margin-right: 4vw;
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap-reverse;
}

#main_header {
    height: 5em;
    display: block;
}

#mini_header {
    height: 5em;
    display: none;
}

footer {
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 5vw;
}

#headshot {
    margin-top: 5vw;
}
#headshot img{
    width: 86vw;
    height: 86vw;
    object-fit: cover;
}

/* Two column layout for work + description for larger screen size only */
@media only screen and (max-width: 900px) {
    #page-container {
        grid-template-columns: auto;
    }

    .work-container img {
        width: 86vw;
        height: 65vw;
    }

    .work-description {
        order: -1;
        width: 86vw;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #main_header {
        display: none;
    }

    #mini_header {
        display: block;
    }

    .thumbnail-container {
        display: block;
    }

    .thumbnail-container img{
        width: 100%;
        height: 65vw;
        margin: 0;
        margin-bottom: 2vw;
    } 

    #nav-container {
        font-size: 10px;
    }
}

/* Not using for now */
.variable-header {
    font-size: 30pt;
    font-variation-settings: "slnt" 0, "wght" 550, "opsz" 20;
    transition: font-variation-settings 0.8s ease;
}

.variable-header:hover {
    font-variation-settings: "slnt" 0, "wght" 300, "opsz" 0;
}