.resume {
    display: flex !important;
    flex-wrap: wrap !important;
    max-width: 800px !important;
}

.resume p, li {
    font-family: "area-normal", sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

.resume .section {
    text-decoration: underline #d4dea6 2px;
}

.date {
    display: flex !important;
    padding-right: 20px;
}