/* 
 * Home page thumbnail hover effect
 * Transitions border radius + the overlay images
 */

.thumbnail {
  overflow: hidden;
  border-radius: 15px;
  transition: border-radius 0.2s ease-in;
}

.thumbnail img.overlay {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.thumbnail:hover {
  border-radius: 40px;
}

.thumbnail:hover img.overlay {
  opacity: 1;
}

.thumbnail img.home {
  transition: opacity 0.4s ease-in-out;
}

.thumbnail:hover img.home {
  opacity: 1;
}