/* Styles applied throughout the site */

:root {
  --light-green: #d4dea6;
  --dark-green: #172617;
  --orange: #e3ad61;
  --yellow: #fcf275;
}

* {
  color: var(--dark-green);
}

button:not(.navbar-toggler) {
  width: 100px !important;
  border: 2px solid var(--orange);
  border-radius: 20px !important;
  padding: 8px 10px 7px 13px;
  background-color: transparent !important;
}

button:not(.navbar-toggler) i{
  transition: transform 0.2s ease;
}

button:hover:not(.navbar-toggler) i, button:focus:not(.navbar-toggler) i{
  transform: translateX(3px);
}

button#submit {
  display: inline-flex;
  align-items: center; /* Vertically aligns text and icon */
  gap: 4px; /* Adds space between the text and the icon */
}

.link {
  color: var(--dark-green) !important;
  text-decoration: underline var(--light-green) 2px !important;
}

.img-fluid {
  object-fit: cover;
}

li {
  padding-bottom: 14px;
}

h1 {
  font-family: "gimlet-sans-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 500, "opsz" 10;
  font-size: 18pt !important;
}

h2, legend {
  font-size: 15pt !important;
  font-family: "gimlet-sans-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 450, "opsz" 10;
  margin-bottom: 0 !important;
}

h3 {
  font-size: 13pt !important;
  font-family: "gimlet-sans-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 350, "opsz" 10;
  margin-bottom: 0 !important;
}

/* tags to reference aspects of/keywords for each project */
.tags span, .tags a {
  font-family: "area-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
  font-size: 11pt;
  border: 2px solid var(--light-green);
  border-radius: 10px;
  padding: 9px 15px 5px 15px;
  margin-right: 5px;
  margin-top: 5px !important;
  display: inline-block;
}

.link-btn a{
  border: 2px solid var(--orange);
  border-radius: 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: baseline;
  gap: 6px;
  color: black;
}

.link-btn a i {
  transition: transform 0.2s ease;
}

.link-btn a:hover i, .link-btn a:focus i {
  transform: translate(2px, -2px);
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: space-between;
}

footer {
  text-align: center;
  padding-bottom: 70px;
  padding-top: 40px;
  font-family: "area-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 600, "INKT" 0;
  font-size: 12pt;
}

/* Give room at the top for the header */
.container-lg{
  padding-top: 100px !important;
}

/* format the text on the 404 page */
.not-found {
  padding: 100px 0px 250px 0px;
  text-align: center;
}

.not-found> h1 {
  font-size: 80px !important;
}

/* Adjust to zoom-in when lightbox is reimplemented */
.work-image:hover {
  cursor: default;
}

.work-image {
  border-radius: 10px;
}

.desc {
  max-width: 600px !important;
  display: block;
  font-family: "area-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 450, "INKT" 100;
  font-size: 11pt;
  color: black;
  margin-bottom: 15px;
}

.bold {
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 700, "INKT" 100;
}

/* The thumbnails seemed too large at the largest Bootstrap container breakpoint */
@media only screen and (min-width: 1400px) {
  .container-lg {
    max-width: 1140px !important;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    background-color: var(--dark-green) !important;
    color: #F8E3C3 !important;
  }

  .link {
    color: #F8E3C3 !important;
  }

  .tags span:not(.link-btn a), .tags a:not(.link-btn a) {
    border: 1px solid var(--light-green);
  }

  .navbar.bg-white {
    background-color: var(--dark-green) !important;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23F8E3C3' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }

  .navbar-toggler {
    border-color: var(--light-green) !important;
  }

  input, textarea {
    border-color: var(--light-green) !important;
    background-color: #313d2c !important;
  }
}
