/* Styles applied throughout the site */

a {
  color: #172617 !important;
}

.img-fluid {
  object-fit: cover;
}

h1 {
  font-family: "gimlet-sans-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 500, "opsz" 10;
  font-size: 22pt !important;
}

h2, legend {
  font-size: 15pt !important;
  font-family: "gimlet-sans-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 400, "opsz" 10;
  margin-top: 15px !important;
}

/* tags to reference aspects of/keywords for each project */
.tags {
  font-family: "area-normal", sans-serif;
  font-weight: 300;
  font-size: 11pt;
  border: 2px solid #d4dea6;
  border-radius: 10px;
  padding: 5px 15px 8px 15px;
  line-height: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

footer {
  text-align: center;
  padding-bottom: 70px;
  font-family: "area-normal", sans-serif;
  font-weight: 500;
  font-size: 12pt;
}

/* Give room at the top for the header */
.container-lg{
  padding-top: 100px !important;
}

/* format the text on the 404 page */
.not-found {
  padding: 100px 0px 250px 0px;
  text-align: center;
}

.not-found> h1 {
  font-size: 80px !important;
}

.work-image:hover {
  cursor: zoom-in;
}

.work-image {
  border-radius: 10px;
}

.work-description {
  max-width: 600px;
  margin-bottom: 4vh;
  display: block;
  font-family: "area-normal", sans-serif;
  font-weight: 300;
  font-size: 11pt;
  color: black;
}

/* The thumbnails seemed too large at the largest Bootstrap container breakpoint */
@media only screen and (min-width: 1400px) {
  .container-lg {
    max-width: 1140px !important;
  }
}
