.resume {
    display: flex !important;
    flex-wrap: wrap !important;
}

.date {
    font-family: "area-normal", sans-serif;
    font-weight: 300;
    font-size: 10pt;
}

.resume .section {
    text-decoration: underline #d4dea6 2px;
}

.col-md-4 {
    width: 300px !important;
}

.download {
    margin-right: 10px !important;
}

@media (max-width: 768px) {
    .col-md-4 {
        width: 100% !important;
    }
}