/* Styles applied throughout the site */

.img-fluid {
  object-fit: cover;
}

h2 {
  font-size: 15pt !important;
  font-family: "gimlet-sans-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 400, "opsz" 10;
  padding-top: 20px;
}

/* tags to reference aspects of/keywords for each project */
.tags {
  font-family: "area-normal", sans-serif;
  font-weight: 300;
  font-size: 11pt;
  border: 2px solid #d4dea6;
  border-radius: 10px;
  padding: 5px 15px 8px 15px;
  line-height: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
}